a {
  text-decoration: none;
  color: #3c8dbc;
}

.main-container {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.main-content,
.main-footer {
  background-color: #fff;
}

.el-menu-custom .fa {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

.main-header {
  background-color: #05c598;
  width: 100%;
  padding: 0;
  height: 55px;
}

.main-header .logo {
  color: #fff;
  border-bottom: 0 solid transparent;
}

.main-header .logo {
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 55px;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  font-weight: 300;
  overflow: hidden;
  text-decoration: none;
}

.main-header .navbar {
  -webkit-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  min-height: 55px;
  border-radius: 0;
  display: block;
  position: relative;
  padding: 0;
  margin-top: 0;
}

.navbar-static-top {
  z-index: 1000;
}

.el-aside {
  height: 100%;
}

.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 18px 15px;
  font-family: fontAwesome;
  color: #fff;
  cursor: pointer;
}

.main-header .sidebar-toggle:hover {
  background-color: #05c5aF;
}

.main-header .sidebar-toggle:before {
  content: "\F0C9";
}

.navbar-custom-menu > .navbar-nav > li {
  position: relative;
  float: left;
}

.dropdown-toggle {
  color: #fff;
  position: relative;
  display: block;
  padding: 18px 15px;
  line-height: 20px;
}

.dropdown-menu {
  padding: 0;
  margin-top: 0;
}

.dropdown-menu[x-placement^=bottom] {
  margin-top: 0;
}

.navbar .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.main-footer {
  background: #f2f2f2;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
  font-size: 14px;
}

.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  vertical-align: middle;
}

.user-header > p {
  z-index: 5;
  font-size: 15px;
  margin-top: 10px;
  line-height: 24px;
}

.dropdown-menu {
  margin-right: 5px;
}

.main-container .el-aside,
.main-container .el-menu-custom,
.el-menu--vertical,
.el-menu--vertical ul,
.el-menu--vertical ul li {
  background-color: #222D32;
}

.main-container .el-submenu__title:hover,
.el-menu--vertical ul li:hover {
  background-color: #2c3b41;
}

.main-container .el-menu--inline {
  background-color: #222D32;
}

.main-container .el-menu-item:hover,
.el-menu--inline .is-active,
.main-container .el-menu-item:focus {
  background-color: #2c3b41;
}

.el-menu--collapse i {
  color: #909399;
}

.el-menu--vertical {
  background-color: #222D32;
}

.el-menu--collapse .el-submenu.is-active .el-submenu__title {
  background-color: #2c3b41;
}

.gaptop-lg {
  margin-top: 20px;
}

.menu__catagory_title {
  color: #35495e;
  font-size: 26px;
  height: 46px;
  line-height: 46px;
  border-bottom: 3px solid #ddd;
}

.menu__catagory_title > span {
  padding: 5px;
  border-bottom: 3px solid #41b883;
}

.link__group_item .el-badge {
  display: block;
}

.link__group_item .link__group_item_div {
  padding: 35px 5px;
  font-size: 20px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background: #eef1f5;
  color: #000;
  display: block;
}

.link__group_item .link__group_item_div:hover {
  background: #05c598;
  color: #fff;
}

