a {
  text-decoration: none;
  color: #3c8dbc;
}

.main-container {
  position: absolute;
  top:55px;
  left:0;
  right:0;
  bottom: 0;
  overflow-y:auto;
}


.main-content, .main-footer {
  background-color: #fff;
}

.el-menu-custom .fa {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
.main-header {
  background-color: #0050b3;
  width:100%;
  padding: 0;
  height:55px;
}
.main-header .logo {
  color: #fff;
  border-bottom: 0 solid transparent;
}

.main-header .logo {
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 55px;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  font-weight: 300;
  overflow: hidden;
  text-decoration: none;
}

.main-header .navbar {
  -webkit-transition: margin-left .3s ease-in-out;
  -o-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  min-height: 55px;
  border-radius: 0;
  display: block;
  position: relative;
  padding:0;
  margin-top:0;

}
.navbar-static-top {
  z-index: 1000;
}
.el-aside {
  height: 100%;
}

.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}


.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 18px 15px;
  font-family: fontAwesome;
  color:#fff;
  cursor: pointer;
}

.main-header .sidebar-toggle:before {
  content: "\f0c9";
}

.navbar-custom-menu>.navbar-nav>li {
  position: relative;
  float:left;
}
.dropdown-toggle {
  color:#fff;
  position: relative;
  display: block;
  padding: 18px 15px;
  line-height: 20px;
}


.dropdown-menu {
  padding:0;
  margin-top:0;
}
.dropdown-menu[x-placement^=bottom] {
  margin-top:0;
}

.navbar .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}
.main-footer {
  background: #f2f2f2;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
  font-size: 14px;
}

.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}


.user-header>img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: rgba(255,255,255,0.2);
  border-radius: 50%;
  vertical-align: middle;
}

.user-header>p {
  z-index: 5;
  font-size: 15px;
  margin-top: 10px;
  line-height: 24px;
}

.dropdown-menu {
  margin-right: 5px;
}


.gaptop-lg {
  margin-top: 20px;
}


.link__group {
}
.link__group_item {
  .el-badge {
    display: block;
  }
  .link__group_item_div {
    padding: 35px 5px;
    font-size: 20px;
    border-radius: 3px;
    text-align: center;
    // border: 1px solid #ddd;
    cursor: pointer;
    background: #eef1f5;
    color: #000;
    &:hover {
      background: #bec1c4;
      color: #fff;
    }
    display: block;
  }
}
.white {
  color: #fff;
}

#id-company-text {
  font-size: 18px;font-weight: 400;font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; line-height:40px
}
.company-name-text {
  font-size: 32px;font-weight: 400;font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.switch-login-text {
  text-align: center;line-height:30px;cursor: pointer;font-size: 13px;
}
